.DS_Store
.idea
*.log
tmp/

tags
*.py[cod]
*.egg
build
htmlcov

ranger/.config/ranger/plugins/*py
ranger/.config/ranger/plugins/__pycache__
awesome/linear/.config/awesome/widget/weather/init.lua
awesome/floppy
awesome/gnawesome
awesome/surreal
awesome/the-glorious-dotfiles
