.DS_Store
.idea
*.log
tmp/

tags
*.py[cod]
*.egg
build
htmlcov

ranger/.config/ranger/plugins/*py
ranger/.config/ranger/plugins/__pycache__
awesome/linear/.config/awesome/widget/weather/init.lua
awesome/floppy
awesome/gnawesome
awesome/surreal
awesome/the-glorious-dotfiles

doomemacs/.config/doom/bookmarks
doomemacs/.config/doom/recentf

doomemacs/.config/doom/init.el
doomemacs/.config/doom/packages.el
doomemacs/.config/doom/config.el
awesome/shell/.config/awesome/configurations/settings.lua
