.DS_Store
.idea
*.log
tmp/

tags
*.py[cod]
*.egg
build
htmlcov

mpd/.config/mpd/mpd.db
mpd/.config/mpd/mpdstate
mpd/.config/mpd/mpdsticker.sql

rime/.config/fcitx/rime/.place_holder
rime/.local/share/fcitx5/rime/luna_pinyin.userdb/*


ranger/.config/ranger/plugins/__pycache__

awesome/linear/.config/awesome/widget/weather/init.lua
awesome/floppy
awesome/gnawesome
awesome/surreal
awesome/the-glorious-dotfiles

doomemacs/.config/doom/bookmarks
doomemacs/.config/doom/recentf

doomemacs/.config/doom/init.el
doomemacs/.config/doom/packages.el
doomemacs/.config/doom/packages.el~
doomemacs/.config/doom/config.el
doomemacs/.config/doom/custom.el

awesome/shell/.config/awesome/configurations/settings.lua
awesome/linear/.config/awesome/theme/wallpapers/*.png
/mpd/.config/mpd/mpd.pid
/doomemacs/.config/doom/rime/
/rime/.local/share/fcitx5/rime/sync/
/rime/.local/share/fcitx5/rime/luna_pinyin.sogou.dict.yaml
/ranger/.config/ranger/plugins/ranger_tmux.py
